---
description: E-postverifiering - Marketo Docs - produktdokumentation
title: E-postverifiering
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: e76a79927666cf4b197b8acd2e60a3756cc6f2b0
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# E-postverifiering {#email-verification}

För Adobe Marketo Engage-prenumerationer krävs att alla användare som inte är API bara verifierar sin e-postadress. Användare med enkel inloggning (SSO) får automatiskt sin e-post verifierad när deras prenumeration är aktiverad med e-postverifiering.

**Användarinbjudan**

När en administratör bjuder in en användare verifieras den användaren automatiskt när han/hon klickar på länken för inbjudan. Användare med enkel inloggning verifieras automatiskt.

**Ändra en e-postadress**

När en användares e-postadress ändras blir den inte verifierad. Ett e-postmeddelande skickas till dem där de kan verifiera igen. Användarna kan skicka om e-postmeddelandet manuellt genom att klicka på **Skicka verifiering igen**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Användare och roller**

I kolumnen Admin > Användare &amp; roller visas verifieringsstatusen för varje användare i kolumnen E-poststatus.

![](assets/email-verification-3.png)

Om du vill skicka ett bekräftelsemeddelande till en overifierad användare igen markerar du användarens post och klickar på knappen **Verifiera e-post** -knappen.
