---
description: E-postverifiering - Marketo Docs - produktdokumentation
title: E-postverifiering
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 05129f546cf2ba0df5c608485adf73c26d4b4f1e
workflow-type: tm+mt
source-wordcount: '135'
ht-degree: 0%

---

# E-postverifiering {#email-verification}

Prenumerationer på Adobe Marketo Engage kräver att alla användare som inte är API bara verifierar sin e-postadress. Användare med enkel inloggning (SSO) får automatiskt sin e-post verifierad när deras prenumeration är aktiverad med e-postverifiering.

**Användarinbjudan**

När en administratör bjuder in en användare verifieras den användaren automatiskt när han/hon klickar på länken för inbjudan. Användare med enkel inloggning verifieras automatiskt.

**Ändra en e-postadress**

När en användares e-postadress ändras blir den inte verifierad. Ett e-postmeddelande skickas till dem där de kan verifiera igen. Administratörer kan skicka om e-postmeddelandet manuellt genom att klicka på **Skicka verifiering igen**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Användare och roller**

I kolumnen Admin > Användare &amp; roller visas verifieringsstatusen för varje användare i kolumnen E-poststatus.

![](assets/email-verification-3.png)

Om du vill verifiera en overifierad användare markerar du användarens post och klickar på knappen **Verifiera e-post** -knappen.
