---
description: E-postverifiering - Marketo Docs - produktdokumentation
title: E-postverifiering
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# E-postverifiering {#email-verification}

Jag tror att du sa att vi precis ska skapa en ny sida som omfattar e-postverifiering för användare

Användarinbjudan När en administratör bjuder in en användare, inte ändrar användargränssnittet eller användarupplevelsen När användaren klickar på länken inbjudan verifieras användarens e-postadress automatiskt av användare med enkel inloggning

På skärmen för användarkonto visas e-postadressen som verifierad När e-postadressen uppdateras, så visas i gränssnittet att kontots e-postadress inte har verifierats och att e-postadressen skickas (se bifogad e-post)

Admin - Sidan Användare och roller Ny kolumn som visar verifieringsstatusen för en användare Ny knapp som utlöser e-postverifieringen för användaren igen

MyMarketo När en användare med overifierad e-post loggar in bör en banderoll visas på sidan My Marketo (ENDAST).
